* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}
.header .header-nav .header-nav-ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
}

.header .header-nav .header-nav-ul li {
    cursor: pointer;
}

.logo {
    width: 100px;
}

#shopcart {
    width: 30px;
    cursor: pointer;
}

.div-hero {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    height: 70vh;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
    background-size: cover;
    padding: 25px;
}

.features h1 {
    font-size: 50px;
}

.dish {
    color: #fff;
    width: 200px;
    height: 250px;
    border-radius: 8px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

button {
    width: 180px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: coral;
    color: #fff;
    cursor: pointer;
}

.dishes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dish:nth-child(1){
    background-color: rgb(197, 171, 103);
}

.dish:nth-child(2){
    background-color: rgb(233, 237, 119);
}

.dish:nth-child(3){
    background-color: rgb(237, 176, 76);
}

.dish:nth-child(4){
    background-color: rgb(209, 226, 122);
}

.dish:nth-child(5){
    background-color: rgb(132, 129, 66);
}

.features h1 {
    margin-left: 150px;
}

.features {
    margin-top: 100px;
}

#burger {
    height: 100vh;
    width: 300px;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: beige;
    align-items: center;
    gap: 100px;
    transform: translate(-300px);
    transition: 1s;
}


@media (max-width: 440px){
    .features h1 {
        margin-left: 75px;
    }

    .dishes {
        gap: 15px;
    }

    .header nav {
        display: none;
    }
}